---
# Main site playbook - Configure all hosts
# Usage: ansible-playbook -i inventory/azure_rm.yml playbooks/site.yml

- name: Configure all hosts with common settings
  hosts: all
  become: yes
  roles:
    - common

- name: Configure Docker hosts
  hosts: docker
  become: yes
  roles:
    - docker

- name: Configure web servers
  hosts: webserver
  become: yes
  roles:
    - webserver

- name: Post-configuration tasks
  hosts: all
  become: yes
  tasks:
    - name: Verify system configuration
      command: systemctl status
      register: systemctl_status
      changed_when: false
      
    - name: Display system status
      debug:
        msg: "System is {{ 'running' if systemctl_status.rc == 0 else 'degraded' }}"
