---
# Default variables for docker role

docker_users: []
docker_network_name: "masterchief"

docker_daemon_options:
  log-driver: "json-file"
  log-opts:
    max-size: "10m"
    max-file: "3"
  storage-driver: "overlay2"
