# Enterprise Hub-and-Spoke Architecture Outputs

# Hub Outputs
output "hub_resource_group_name" {
  description = "Name of the hub resource group"
  value       = module.hub.hub_resource_group_name
}

output "hub_resource_group_id" {
  description = "ID of the hub resource group"
  value       = module.hub.hub_resource_group_id
}

output "hub_vnet_id" {
  description = "ID of the hub virtual network"
  value       = module.hub.hub_vnet_id
}

output "hub_vnet_name" {
  description = "Name of the hub virtual network"
  value       = module.hub.hub_vnet_name
}

output "firewall_id" {
  description = "ID of the Azure Firewall"
  value       = module.hub.firewall_id
}

output "firewall_name" {
  description = "Name of the Azure Firewall"
  value       = module.hub.firewall_name
}

output "bastion_id" {
  description = "ID of the Azure Bastion"
  value       = module.hub.bastion_id
}

output "bastion_name" {
  description = "Name of the Azure Bastion"
  value       = module.hub.bastion_name
}

# Spoke Outputs
{% for spoke in spokes %}
output "spoke_{{ spoke.name }}_resource_group_name" {
  description = "Name of the {{ spoke.name }} spoke resource group"
  value       = module.spoke_{{ spoke.name }}.spoke_resource_group_name
}

output "spoke_{{ spoke.name }}_vnet_id" {
  description = "ID of the {{ spoke.name }} spoke virtual network"
  value       = module.spoke_{{ spoke.name }}.spoke_vnet_id
}

output "spoke_{{ spoke.name }}_vnet_name" {
  description = "Name of the {{ spoke.name }} spoke virtual network"
  value       = module.spoke_{{ spoke.name }}.spoke_vnet_name
}

{% if spoke.enable_aks %}
output "spoke_{{ spoke.name }}_aks_cluster_name" {
  description = "Name of the {{ spoke.name }} AKS cluster"
  value       = module.spoke_{{ spoke.name }}.aks_cluster_name
}

output "spoke_{{ spoke.name }}_aks_cluster_id" {
  description = "ID of the {{ spoke.name }} AKS cluster"
  value       = module.spoke_{{ spoke.name }}.aks_cluster_id
}

output "spoke_{{ spoke.name }}_aks_kube_config" {
  description = "Kube config for {{ spoke.name }} AKS cluster"
  value       = module.spoke_{{ spoke.name }}.aks_kube_config
  sensitive   = true
}
{% endif %}

{% if spoke.enable_storage %}
output "spoke_{{ spoke.name }}_storage_account_name" {
  description = "Name of the {{ spoke.name }} storage account"
  value       = module.spoke_{{ spoke.name }}.storage_account_name
}

output "spoke_{{ spoke.name }}_storage_account_id" {
  description = "ID of the {{ spoke.name }} storage account"
  value       = module.spoke_{{ spoke.name }}.storage_account_id
}
{% endif %}

{% if spoke.enable_key_vault %}
output "spoke_{{ spoke.name }}_key_vault_name" {
  description = "Name of the {{ spoke.name }} Key Vault"
  value       = module.spoke_{{ spoke.name }}.key_vault_name
}

output "spoke_{{ spoke.name }}_key_vault_id" {
  description = "ID of the {{ spoke.name }} Key Vault"
  value       = module.spoke_{{ spoke.name }}.key_vault_id
}
{% endif %}

{% if spoke.enable_acr %}
output "spoke_{{ spoke.name }}_acr_name" {
  description = "Name of the {{ spoke.name }} Azure Container Registry"
  value       = module.spoke_{{ spoke.name }}.acr_name
}

output "spoke_{{ spoke.name }}_acr_id" {
  description = "ID of the {{ spoke.name }} Azure Container Registry"
  value       = module.spoke_{{ spoke.name }}.acr_id
}
{% endif %}
{% endfor %}

# User Management Outputs
output "platform_admins_group_id" {
  description = "Object ID of the platform administrators group"
  value       = module.user_management.platform_admins_group_id
}

output "developers_group_id" {
  description = "Object ID of the developers group"
  value       = module.user_management.developers_group_id
}

output "devops_engineers_group_id" {
  description = "Object ID of the DevOps engineers group"
  value       = module.user_management.devops_engineers_group_id
}

output "security_auditors_group_id" {
  description = "Object ID of the security auditors group"
  value       = module.user_management.security_auditors_group_id
}

output "end_users_group_id" {
  description = "Object ID of the end users group"
  value       = module.user_management.end_users_group_id
}

# Documentation Outputs
output "architecture_diagram" {
  description = "Path to the generated architecture diagram"
  value       = module.visualization.architecture_diagram_path
}

output "infrastructure_documentation" {
  description = "Path to the generated infrastructure documentation"
  value       = module.visualization.infrastructure_documentation_path
}

output "deployment_guide" {
  description = "Path to the generated deployment guide"
  value       = module.visualization.deployment_guide_path
}

output "security_overview" {
  description = "Path to the generated security overview"
  value       = module.visualization.security_overview_path
}

output "cost_estimation" {
  description = "Path to the generated cost estimation"
  value       = module.visualization.cost_estimation_path
}

# Summary Output
output "infrastructure_summary" {
  description = "Complete summary of deployed infrastructure"
  value = {
    hub = {
      resource_group = module.hub.hub_resource_group_name
      vnet = module.hub.hub_vnet_name
      firewall = module.hub.firewall_name
      bastion = module.hub.bastion_name
    }
    spokes = {
      {% for spoke in spokes %}
      {{ spoke.name }} = {
        resource_group = module.spoke_{{ spoke.name }}.spoke_resource_group_name
        vnet = module.spoke_{{ spoke.name }}.spoke_vnet_name
        {% if spoke.enable_aks %}aks = module.spoke_{{ spoke.name }}.aks_cluster_name{% endif %}
        {% if spoke.enable_storage %}storage = module.spoke_{{ spoke.name }}.storage_account_name{% endif %}
        {% if spoke.enable_key_vault %}key_vault = module.spoke_{{ spoke.name }}.key_vault_name{% endif %}
        {% if spoke.enable_acr %}acr = module.spoke_{{ spoke.name }}.acr_name{% endif %}
      }{% if not loop.last %},{% endif %}
      {% endfor %}
    }
    user_management = {
      groups_created = 5
      roles_created = 4
    }
    documentation = module.visualization.generated_files
  }
}